
.chessbox-view-container{

    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}


.box{
   width: 100px;
   height: 100px;
   border: 1px solid;
   margin: 1px;
}

.bc-black{
  background-color:black;
}

.bc-white{
    background-color:white;
}

.bc-red{
    background-color:red;
}